@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #181A20;
    color: #f1f1f1;
    font-family: var(--font-mulish), sans-serif;
  }
  h1, h2, h3, h4 {
    font-family: var(--font-oxanium), sans-serif;
  }
}
